@model IEnumerable<Models.Course>

@foreach (var course in Model.OrderBy(c => c.Code))
{
    <div class="courseLayout">
        <a href="/Courses/Details/@course.Id">
            <span class="courseCode">@course.Code</span>
            <span class="courseSearch">@course.Title</span>
        </a>
    </div>
}