<div id="CoursesListPanel" class="CoursesListLayout">
    <!-- Rafraîchie périodiquement -->
</div>

@section Scripts {
    <script>
        $(() => {
            let coursesListAutoRefreshPanel = new AutoRefreshedPanel("CoursesListPanel", "/Courses/GetCourses", 5, null);
        })
    </script>
}