@model Models.Student
@{
    ViewBag.PageTitle = "Détails";
}

<div id="studentDetailsPanel" class="detailsPanel">
    <!-- Rafraîchie périodiquement -->
</div>

@section Scripts {
    <script>
        $(() => {
            /* Créer un panel auto-rafraîchi qui appelle GetStudentDetails */
            studentDetails_ARP = new AutoRefreshedPanel("studentDetailsPanel", "/Students/GetStudentDetails", 5, null);
        })
    </script>
}