@model IEnumerable<Models.Student>

@{
    // Regrouper les étudiants par cohorte (4 premiers caractères du code) en ordre décroissant
    var groupedStudents = Model.GroupBy(s => s.Code.Substring(0, 4))
                               .OrderByDescending(g => g.Key);
}

@foreach (var group in groupedStudents)
{
    // Afficher les étudiants regroupés par cohorte (4 premiers caractères du code) en ordre décroissant
    <details open>

        <summary>Cohorte @group.Key</summary>
        @foreach (var student in group.OrderBy(s => s.LastName))
        {
            <div class="studentLayout">
                <a href="/Students/Details/@student.Id">
                    <span class="studentCode">@student.Code</span>
                    <span class="studentSearch">@student.LastName @student.FirstName</span>
                </a>
            </div>
        }
    </details>
}