
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="studentListPanel" class="studentListLayout">
    <!-- Periodicaly refreshed by object studentListPanel of class AutoRefreshedPanel -->
</div>
