@model IEnumerable<Models.Teacher>

@foreach (var teacher in Model.OrderBy(t => t.LastName))
{
    // Afficher les enseignants triés par nom de famille
    <div class="teacherLayout">
        <a href="/Teachers/Details/@teacher.Id">
            <span class="teacherCode">@teacher.Code</span>
            <span class="teacherSearch">@teacher.LastName @teacher.FirstName</span>
        </a>
    </div>
}